<!DOCTYPE html>
<html lang="en">
	<head>
	  <title>three.js webgl - loaders - BVHLoader</title>
		<meta charset="utf-8">
        <meta id="current-url" content="{{ current_url }}">
        <meta id="auto-rotate" content="{{ auto_rotate }}">
        <meta id="original-url" content="{{ original_url }}">
		<meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
		<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
		<style>
			body {
				background-color: #eee;
				color: #444;
			}
			a {
				color: #08f;
			}
		</style>
	</head>
	<body>
		<script src="{{ url_for('static', filename = 'bundle.js') }}">
		</script>
	</body>
</html>